body{
    color:black;
}

.primary{
    background:black!important;
}
.secondary{
    background: #242c43 !important;
    color: #ffffff !important;
}

.bodypart{
    min-height: 440px;
}

.callout{
padding: 5px !important;
}

.btn{
    border-radius: 6px;
}

